.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input {
  height: 40px;
    width: 50%;
    border: none;
    border: 2px solid gold;
    border-radius: 5px;
    background: none;
    font-size: 1.5rem;
    color: dodgerblue;
}

input:focus {
  outline: none;
}

button {
  width: 25%;
    height: 45px;
    border: none;
    margin-left: 10px;
    font-size: 25px;
    font-family: cursive;
    background: dodgerblue;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  list-style: none;
    text-align: left;
    padding: 10px;
    background: powderblue;
    border-radius: 5px;
}

li {
  padding: 15px;
    font-size: 1.5rem;
    margin-bottom: 15px;
    background: antiquewhite;
    border-radius: 5px;
    overflow-wrap: break-word;
    cursor: pointer;
    color: firebrick;
    display: flex;
    justify-content: space-between;
}
.delete{
  width: 40px;
    height: 40px;
    background: indianred;
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
}
h1{
  font-family: cursive;
    color: cadetblue;
    font-weight: 600;
}
hr{
  height: 2px;
    background: indianred;
    margin-bottom: 40px;
}

@media only screen and (min-width: 300px) {
  .App {
    width: 80%;
  }

  input {
    width: 100%
  }

  button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 640px) {
  .App {
    width: 60%;
  }

  input {
    width: 50%;
  }

  button {
    width: 30%;
    margin-left: 10px;
    margin-top: 0;
  }
}